body {
    background-color: #5c5c5c;
    margin: 0;
    padding: 0;
    font-family: Roboto, sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: #888
}

button {
    outline: 0 !important;
    cursor: pointer !important
}

.header-download {
    margin-top: -41px
}

.notification-block {
    z-index: 3;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: left;
    -ms-flex-pack: left;
    justify-content: left;
    padding: 0;
    border-top: 6px solid #df0000;
    font-size: 14px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background-color: #fff;
    text-align: center;
    margin: 0 auto;
    width: 100%;
    height: auto;
    position: relative
}

.notif-element {
    display: inline-block;
    padding-top: 4px;
    padding-bottom: 4px
}

.notif-element:first-child {
    max-width: 21px;
    padding-left: 10px;
    padding-right: 8px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center
}

.notif-element:nth-child(2n) {
    padding-right: 18px
}

.notif-element:nth-child(3n) {
    padding-right: 10px
}

.notif-element:last-child {
    padding-right: 10px
}

.notif-element a {
    color: #396594;
    text-decoration: underline;
    cursor: pointer
}

.windows-pops {
    font-family: 'Open Sans', sans-serif;
    position: absolute;
    margin: 0 auto;
    left: 0;
    right: 0;
    max-width: 449px
}

.buttons-block {
    padding: 14px 15px 14px 15px;
    text-align: right
}

.animate {
    margin-top: 0;
    -moz-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
    -webkit-transition: all 1s ease-in-out
}

.pre-pop {
    z-index: 0
}

.pre-pop button {
    padding: 6px 25px
}

.pre-pop .modal-text {
    padding: 10px 15px 10px 18px
}

.display-exit {
    z-index: 1
}

.exit-pop {
    z-index: 0
}

.exit-pop .modal-text {
    padding: 10px 15px 0 18px
}

.exit-pop button {
    font-size: 12px;
    padding: 6px 18px
}

.exit-pop button:last-child {
    background-color: #fff;
    border: solid 1px #959595;
    color: #555
}

.animate-exit {
    -webkit-transform: translate(0, 181px);
    -moz-transform: translate(0, 181px);
    -o-transform: translate(0, 181px)
}

.close-pop {
    display: none
}

.exit-pop {
    max-width: 449px
}

.exit-pop, .pre-pop {
    background-color: #fff;
    position: absolute;
    border-radius: 2px;
    -webkit-box-shadow: 0 6px 10px 0 rgba(0, 0, 0, .2);
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, .2);
    margin-top: -138px;
    -moz-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
    -webkit-transition: all 1s ease-in-out
}

.exit-pop .message, .pre-pop .message {
    font-size: 14px;
    line-height: 2.29;
    color: #272727
}

.exit-pop .description, .pre-pop .description {
    font-size: 13px;
    line-height: 2.31;
    text-align: left
}

.exit-pop button, .pre-pop button {
    border-radius: 2px;
    font-weight: 600
}

.exit-pop button:first-child, .pre-pop button:first-child {
    border: 1px solid #366bc1;
    background-color: #366bc1;
    color: #fff
}

.exit-pop button:first-child:hover, .pre-pop button:first-child:hover {
    background-color: #5e77d3
}

.exit-pop button:first-child:active, .pre-pop button:first-child:active {
    background-color: #39419c;
    -webkit-box-shadow: none;
    box-shadow: none
}

.exit-pop button:first-child:focus, .pre-pop button:first-child:focus {
    background-color: #39419c;
    -webkit-box-shadow: none;
    box-shadow: none
}

#header {
    z-index: 3;
    text-align: center;
    margin: 0 auto;
    width: 100%;
    height: auto;
    position: absolute
}

#header .notification-block {
    z-index: 2;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: left;
    -ms-flex-pack: left;
    justify-content: left;
    padding: 0;
    border-top: 6px solid #df0000;
    font-size: 14px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background-color: #fff
}

#header .notif-element {
    display: inline-block;
    padding-top: 4px;
    padding-bottom: 4px
}

#header .notif-element:first-child {
    max-width: 21px;
    padding-left: 10px;
    padding-right: 8px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center
}

#header .notif-element:nth-child(2n) {
    padding-right: 18px
}

#header .notif-element:last-child {
    padding-right: 10px
}

#header .notif-element a {
    color: #396594;
    text-decoration: underline
}

.jumbotron {
    max-width: 556px;
    padding: 0;
    margin: 0 auto;
    background: #ebebeb;
    background-color: #4f4f4f;
    -webkit-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .5);
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .5)
}

.recommended-text {
    background-image: -webkit-gradient(linear, left top, left bottom, from(#d6e2ea), to(#b0b1b5));
    background-image: linear-gradient(to bottom, #d6e2ea, #b0b1b5);
    border: solid 1px #979797;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding-top: 18px;
    padding-bottom: 18px;
    text-align: center
}

.recommended-text div {
    display: inline-block;
    font-size: 18px;
    font-weight: 500
}

.recommended-text div:first-child {
    color: #d0363c
}

.recommended-text div:last-child {
    color: #4b4b4b
}

.details {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 32px 21px 38px 21px;
    text-align: center
}

.details .logo {
    max-width: 123px
}

.details .text {
    overflow-y: auto;
    padding-left: 28px;
    color: #fff
}

.details .text .title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex
}

.details .text .title div:last-child {
    color: #7fa2e6
}

.details .text .imitation-downloading {
    padding-right: 7px;
    padding-bottom: 3px
}

.details .text .downloading-descr {
    font-size: 10px;
    text-align: left
}

.details .text ul {
    text-align: left;
    padding-left: 14px;
    padding-top: 3px;
    padding-bottom: 20px;
    line-height: 1.9
}

.details .text ul li {
    font-size: 11px;
    padding-left: 13px
}

.buttons {
    padding: 20px 0 21px 0;
    margin-left: 30px;
    border-top: 1px #000 solid;
    margin-right: 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex
}

.buttons .button-block {
    width: 50%;
    overflow: hidden
}

.buttons .button-block:first-child {
    margin-left: -1px
}

.buttons .button-block:last-child {
    text-align: right;
    margin-right: -1px
}

.buttons .button-block button {
    padding: 5px 37px;
    background-color: #646464;
    border: #000 solid 1px;
    color: silver;
    cursor: pointer;
}

.buttons .button-block button:hover {
    background-color: #787878
}

.buttons .button-block button:active {
    background-color: #4f4e4e
}

.buttons .button-block button:focus {
    background-color: #4f4e4e
}


#card {
    height: 100%;
    padding-bottom: 100px;
    padding-top: 41px;
    color: #585858;
    text-shadow: 0 1px 1px rgba(255, 255, 255, .2);
    margin-top: 0
}

#card .modal-icon {
    padding-top: 54px
}

#card .lg-title {
    margin-bottom: -19px;
    margin-top: 30px;
    font-size: 40px;
    color: #585858;
    font-weight: 500;
    letter-spacing: -.8px
}

#card .smaller-title {
    margin-bottom: 15px;
    font-size: 25px;
    color: #585858;
    font-weight: 500;
    margin-top: 46px
}

#card .card-description {
    max-width: 389px;
    margin: 0 auto;
    font-size: 16px;
    color: #888;
    line-height: 26px
}

#footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 50px;
    font-size: 14px
}

#footer .footer-links {
    font-size: 12px;
    color: #888;
    text-align: center;
    font-weight: 500;
    text-decoration: none;
    display: inline-block;
    padding: 18px 10px
}

#footer .footer-navigation {
    text-align: center
}

.horizontal {
    z-index: 11111;
    position: absolute
}

.horizontal img {
    bottom: 30px;
    left: 40px
}

.vertical {
    position: absolute;
    z-index: 11111
}

.vertical img {
    top: 20px;
    right: 94px
}

.instruction {
    display: none
}

.open-instruction {
    display: block !important;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .7);
    position: fixed;
    top: 0
}

.open-instruction img {
    width: auto;
    height: auto;
    position: fixed
}

.notif-element:last-child {
    cursor: pointer
}

@media only screen and (max-width: 991px) {
    #card {
        height: auto
    }

    #card .jumbotron {
        margin-top: 28px;
        margin-bottom: 116px;
        height: auto
    }

    .desktop {
        display: none !important
    }

    #header .notification-block {
        font-size: 10px
    }
}

@media only screen and (min-width: 992px) {
    .exit-pop {
        width: 448px
    }

    #card .jumbotron {
        height: auto
    }

    .mobile {
        display: none !important
    }

    .exit-pop {
        width: 448px
    }

    .notif-element:last-child {
        position: absolute;
        right: 0
    }

    #instruction {
        max-width: 90% !important
    }
}

@media only screen and (max-width: 768px) {
    .notification-block {
        text-align: center;
        display: inline-block !important;
        font-size: 10px !important;
        max-height: 86px;
        overflow: hidden;
        min-height: 86px
    }

    #header .notif-element:first-child {
        display: inline-block !important
    }

    #card {
        padding-top: 80px
    }

    .windows-pops {
        width: 320px
    }

    .exit-pop, .pre-pop {
        margin-top: -90px;
        -moz-transition: all 1s ease-in-out;
        -o-transition: all 1s ease-in-out;
        -webkit-transition: all 1s ease-in-out
    }

    .animate-exit {
        -webkit-transform: translate(0, 183px);
        -moz-transform: translate(0, 183px);
        -o-transform: translate(0, 183px)
    }

    .details {
        display: inline-block;
        text-align: center;
        padding: 32px 5px 38px 5px
    }

    .details .logo {
        display: inline-block
    }

    .details .text {
        padding-left: 0 !important
    }

    .details .text .title {
        display: inline-block
    }

    .details .text ul {
        max-width: 280px
    }

    .details .text .imitation-downloading .downloading {
        width: 290px
    }

    .instruction {
        width: 100%;
        top: 65px
    }

    div.instruction {
        width: 300px
    }

    #card .jumbotron {
        margin: 0 auto;
        text-align: center
    }

    .buttons .button-block:last-child {
        text-align: center
    }
}

@media only screen and (max-height: 1124px) {
    #instruction {
        max-height: 90% !important
    }
}