body {
    margin: 0;
    padding: 0;
    font-family: Roboto, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: normal;
    line-height: normal;
    font-size: 32px;
    color: #fff;
    text-align: center;
    background: #e5e5e5
}

button {
    outline: 0 !important;
    cursor: pointer !important
}

button::-moz-focus-inner {
    border: 0
}

.page-title {
    padding-top: 15px;
    font-size: 25px;
    font-weight: 600;
    line-height: 1.2;
    color: #212121
}

.container {
    margin-bottom: 60px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center
}

.container .player-window {
    height: 644px;
    padding-top: 17px
}

.container .player-window .video-container {
    width: 1062px;
    height: 644px;
    position: relative;
    z-index: 2;
    background: #0c0c0c
}

.container .player-window #my-video {
    height: 588px;
    width: 100%
}

.container .player-window .video-opacity {
    opacity: .5
}

.container .player-window .progress-line {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    z-index: 3;
    position: relative;
    height: 9px;
    text-align: left;
    background: grey
}

.container .player-window .progress-line .progress-red-line {
    width: 5px;
    height: 100%;
    background-color: #dc0d22
}

.container .player-window .progress-line .video-scrubber {
    background: -webkit-gradient(linear, left top, right top, from(#dc0d22), color-stop(50%, #767676));
    background: linear-gradient(to right, #dc0d22 0, #767676 50%)
}

.container .player-window .progress-line #video-scrubber {
    display: inherit;
    margin-top: -7px;
    width: 24px;
    height: 24px
}

.container .player-window .progress-line .progress-grey-line {
    width: 71px;
    height: 100%;
    max-width: 100%;
    background-color: #999
}

.container .player-window .video-control {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    text-align: left;
    height: 45px
}

.container .player-window .video-control .btn-play {
    padding: 0 25px;
    height: 25px
}

.container .player-window .video-control .btn-speaker {
    height: 25px
}

.container .player-window .video-control .btn-clock {
    padding: 0 10px;
    height: 20px
}

.container .player-window .video-control .btn-gear {
    padding: 0 10px;
    height: 23px
}

.container .player-window .video-control .btn-frame {
    padding: 0 10px;
    height: 27px
}

.container .player-window .video-control .btn-broken-frame {
    padding: 0 10px;
    height: 30px
}

.container .player-window .video-control img {
    height: 100%
}

.container .player-window #first-context .text {
    font-size: 35px;
    color: #fff
}

.container .player-window #first-context .preloader {
    padding-top: 40px;
    height: 56px
}

.container .player-window #first-context .preloader img {
    height: 100%
}

.container .player-window #second-context {
    margin: -50px auto 0;
    padding-bottom: 45px;
    width: 610px;
    color: #212121;
    border-radius: 8px;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#e5e5e5));
    background-image: linear-gradient(to bottom, #fff, #e5e5e5)
}

.container .player-window #second-context .title-block {
    width: 100%;
    height: 38px;
    font-size: 16px;
    line-height: 38px;
    letter-spacing: .3px;
    color: #9d9d9d;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    background-color: #e5e5e5
}

.container .player-window #second-context .title {
    padding: 40px 40px 17px;
    font-size: 25px;
    font-weight: 600;
    line-height: 1.2
}

.container .player-window #second-context .text {
    padding: 0 50px;
    font-size: 20px;
    line-height: 1.5;
    color: #212121
}

.container .player-window #second-context .download-button-block {
    margin-top: 33px;
    width: 213px;
    height: 50px;
    color: #fff;
    font-size: 18px;
    font-weight: 600;
    line-height: 50px;
    letter-spacing: .6px;
    border-radius: 25px;
    border: none;
    outline: 0;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: -webkit-gradient(linear, left bottom, left top, from(#2b6cd8), to(#307af3));
    background-image: linear-gradient(to top, #2b6cd8, #307af3)
}

.container .player-window #second-context .download-button-block:hover {
    background-image: -webkit-gradient(linear, left bottom, left top, from(#2e72e5), to(#317df8));
    background-image: linear-gradient(to top, #2e72e5, #317df8)
}

.container .player-window #second-context .download-button-block:active {
    background-image: -webkit-gradient(linear, left bottom, left top, from(#2865cb), to(#2e74e7));
    background-image: linear-gradient(to top, #2865cb, #2e74e7)
}

.container .player-window .context {
    position: relative;
    z-index: 3;
    top: -475px;
    text-align: center
}

#top-bar {
    top: 0;
    left: 0;
    right: 0;
    line-height: 70px;
    background-color: #fff;
    -webkit-box-shadow: .5px .9px 1.5px 0 rgba(109, 109, 109, .3);
    box-shadow: .5px .9px 1.5px 0 rgba(109, 109, 109, .3);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    font-size: 20px;
    font-weight: 300;
    color: #212121
}

#top-bar .logo {
    width: 94px;
    padding-right: 20px
}

#top-bar .line, #top-bar .text {
    padding-left: 20px
}

#footer {
    position: fixed;
    z-index: -1;
    bottom: 0;
    left: 0;
    right: 0;
    height: 70px;
    line-height: 70px;
    font-size: 15px;
    font-weight: 400;
    text-align: center;
    color: #212121
}

#footer .footer-links {
    color: #212121;
    text-decoration: none;
    display: inline-block;
    padding-left: 10px;
    padding-right: 10px
}

#footer .footer-links:hover {
    color: #474747
}

#footer .footer-links:active {
    color: #000
}

.visible {
    display: block !important
}

.hidden {
    display: none
}

.row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center
}

@media screen and (max-height: 835px), screen and (max-width: 1105px) {
    .container {
        margin-bottom: 50px
    }

    .container .player-window {
        height: 400px;
    }

    .container .player-window .video-container {
        width: 641px;
        height: 391px
    }

    .container .player-window #my-video {
        height: 354px
    }

    .container .player-window .progress-line {
        height: 8px
    }

    .container .player-window .progress-line #video-scrubber {
        width: 18px;
        height: 18px;
        margin-top: -5px
    }

    .container .player-window .context {
        top: -300px
    }

    .container .player-window .video-control {
        height: 28px
    }

    .container .player-window .video-control .btn-play {
        padding: 0 25px;
        height: 18px
    }

    .container .player-window .video-control .btn-speaker {
        height: 18px
    }

    .container .player-window .video-control .btn-clock {
        padding: 0 10px;
        height: 15px
    }

    .container .player-window .video-control .btn-gear {
        padding: 0 10px;
        height: 15px
    }

    .container .player-window .video-control .btn-frame {
        padding: 0 10px;
        height: 20px
    }

    .container .player-window .video-control .btn-broken-frame {
        padding: 0 10px;
        height: 22px
    }

    .container .player-window #first-context .text {
        font-size: 25px
    }

    .container .player-window #second-context {
        padding-bottom: 30px;
        width: 510px
    }

    .container .player-window #second-context .title-block {
        height: 38px;
        font-size: 14px;
        line-height: 38px
    }

    .container .player-window #second-context .title {
        padding: 20px 40px 17px;
        font-size: 18px
    }

    .container .player-window #second-context .text {
        padding: 0 20px;
        font-size: 16px
    }

    .container .player-window #second-context .download-button-block {
        margin-top: 20px;
        width: 180px;
        font-size: 15px
    }
}

@media (max-width: 1320px) {
    #top-bar {
        font-size: 18px
    }
}